<launch>
	<node name="vision_node" pkg="bwsi_race" args="" type="vision.py" output="screen"/>
	<include file="$(find racecar)/launch/teleop.launch"/>
	<include file="$(find zed_wrapper)/launch/zed.launch"/>
	<node name = "explorer_node" pkg = "bwsi_race" args= "" type = "explorer.py" output= "screen"/>
</launch>

