<launch>
	<node name="vision_node" pkg="racecar_7" args="" type="vision1.py" output="screen"/>
	<include file="$(find racecar)/launch/teleop.launch"/>
	<include file="$(find zed_wrapper)/launch/zed.launch"/>
	<node name = "explorer_node" pkg = "racecar_7" args= "" type = "explorer1.py" output= "screen"/>
</launch>

